<ion-header>
  <ion-toolbar>
    <ion-title>events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    animated="true"
    (ionChange)="onSearchChange($event)"
    placeholder="Search event"
  ></ion-searchbar>
  <ion-list-header>
    <ion-label>Events list</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item-sliding
      *ngFor="let event of events"
      [routerLink]="['./', event.id] "
    >
      <ion-item-options side="start">
        <ion-item-option color="success">
          <ion-icon slot="icon-only" name="archive" color="light"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img alt="Silhouette of mountains" [src]="event.imageUrl">
          </ion-img>
        </ion-thumbnail>
        <ion-label
          >{{event.title}}
          <p>{{event.description}}</p>
          <p>
            Du {{event.availableFrom | date: 'dd/MM/YY' }} au
            {{event.availableTo | date: 'dd/MM/YY' }}
          </p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
