<ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>

<!-- swipper page for introduction to app -->
<ion-content>
  <swiper [autoplay]="true" [keyboard]="true" [pagination]="true">
    <ng-template swiperSlide>
      <ion-text>
        <h1>Bienvenue sur Event Planner</h1>
        <p>
          Event Planner est une application qui vous permet d'oganiser vos
          évenements
        </p>
      </ion-text>
    </ng-template>
    <ng-template swiperSlide>
      <ion-text>
        <h1>Organisez-vous !</h1>
        <p>
          Selectionenr les conférences qui vous interesses, soyez au courrant
          des nouveautés
        </p>
      </ion-text>
    </ng-template>
    <ng-template swiperSlide>
      <ion-text>
        <h1>Amusez vous</h1>
        <p>Gagnez des points pour vos participations et gagnez des cadeaux !</p>
        <ion-button (click)="start()" fill="outline"
          >Commencez maintenant !</ion-button
        >
      </ion-text>
    </ng-template>
  </swiper>
</ion-content>
