<ion-header>
  <ion-toolbar>
    <ion-title>{{info.title}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center message">
          <ion-icon
            [name]="info.icon.name"
            [color]="info.icon.color"
          ></ion-icon>
          <h3>{{info.description}}</h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="info.type == 'check-out' ">
      <ion-col>
        <ion-card class="ion-justify-content-center">
          <ion-card-content>
            <ion-card-header class="ion-text-center">
              <ion-card-title>Votre avis</ion-card-title>
              <ion-card-subtitle
                >Comment avez-vous trouvez cette exprérience
                ?</ion-card-subtitle
              >
            </ion-card-header>

            <div class="ion-text-center">
              <ion-icon
                name="star"
                class="custom-star"
                *ngFor="let num of [1,2,3,4,5]"
                (click)="rate(num)"
                [color]="getStarColor(num)"
              >
              </ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
