<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="{{loadedEvent.title}}"
        icon="arrow-back-outline"
        defaultHref="tabs"
      >
      </ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Détail conférence</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              <!-- <ion-button fill="none" (click)="setBookedConference()">
                <ion-icon
                  slot="icon-only"
                  [name]="loadedConferences.booked ? 'bookmark' : 'bookmark-outline'"
                ></ion-icon>
              </ion-button> -->
            </ion-card-subtitle>

            <!-- <ion-card-title>{{loadedConferences.title}}</ion-card-title> -->
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>{{loadedConferences.title}}</ion-card-title><br />

            <p>{{loadedConferences.description}}</p>
          </ion-card-content>
          <ion-card-subtitle class="ion-text-capitalize">
            <ion-row class="ion-justify-content-between">
              <ion-col>
                <p>
                  {{loadedConferences.availableFrom | date: 'HH:mm ' }} à
                  {{loadedConferences.availableTo | date: 'HH:mm' }}
                </p>
              </ion-col>
              <ion-col class="ion-text-end">
                <p>{{loadedConferences.speakers}}</p>
              </ion-col>
            </ion-row>
          </ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
