/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// swipper css
@import "swiper/scss";
@import "@ionic/angular/css/ionic-swiper";

@import "swiper/scss/autoplay";
@import "swiper/scss/keyboard";
@import "swiper/scss/pagination";
@import "swiper/scss/scrollbar";
@import "swiper/scss/zoom";

:root {
  --ion-color-primary: #5669ff;
  --ion-color-primary-rgb: 86, 105, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #4c5ce0;
  --ion-color-primary-tint: #6778ff;
  --ion-color-primary-fade: rgba(86, 105, 255, 0.12);
}

ion-toolbar {
  --min-height: 80px;
  --background: #fff;
  --border-style: none;
}

ion-back-button {
  --background: transparent;
  --color: #120d26;
  --text-transform: capitalize;
  --icon-margin-end: 5px;
  --border-style: none;
  --icon-font-weight: 700;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 700;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
