<ion-header [translucent]="true" *ngIf="isDataAvailable">
  <ion-toolbar>
    <ion-avatar slot="start">
      <img
        alt="Silhouette of a person's head"
        [src]="user[0].photoURL ? user[0].photoURL : 'https://ionicframework.com/docs/img/demos/avatar.svg' "
      />
    </ion-avatar>

    <p class="ion-no-margin ion-margin-start">{{getWelcomeMessage()}}</p>
    <h2 class="ion-no-margin ion-margin-start">
      {{user[0].displayName || user[0].firstName + " " + user[0].lastName }}
    </h2>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Nothing...</strong>
  </div>
</ion-content>
